# EditorConfig is awesome: https://EditorConfig.org

# Root EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ source files
[*.c, *.h]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Configuration files
[*.ini, *.cfg, *.conf, *.config, config/project_config.h]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Makefiles
[Makefile]
indent_style = tab

# YAML files
[*.yml, *.yaml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

