# .editorconfig

# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.
# More information about EditorConfig can be found at http://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4 space indentation
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4
tab_width = 4

# Matches multiple files with brace expansion notation
[*.{py}]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 79

# Specific settings for Makefiles
[Makefile]
indent_style = tab

# Set default charset
charset = utf-8

# JavaScript settings
[*.js]
indent_style = space
indent_size = 2

# JSON settings
[*.json]
indent_style = space
indent_size = 2

# Markdown settings
[*.md]
trim_trailing_whitespace = false

# HTML settings
[*.html]
indent_style = space
indent_size = 2

# XML settings
[*.xml]
indent_style = space
indent_size = 2

